h1{
    text-align: center;
    color: blue;
    background-color: lightblue;
    padding: 5px;
}
*{
    margin: 0;
    background-color: whitesmoke;
    color: black;
}

.active{
    background-color: aliceblue;
    color: blue;
    text-decoration: underline;
}
.vikas{
    text-align: center;
}